# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Environment files
.env
.env.local
.env.*.local

# Service account keys or sensitive files
concrete-login-2ddbfa0e1bb6.json

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml

#discord session files
discord-session.json

# channels link files
channel-urls.js
everyone-channels.js